Define generic Nostr URL syntax in favor of embedding relay hints bech32 entities



As seen in practice, the NOSTR URI scheme defined in [NIP-21](https://github.com/nostr-protocol/nips/blob/074b8eeb0194804ea7fa9d6e695c3d9e9c62e153/21.md), when used with bech32 entities without relay hints (e.g. `note1...`, `npub...`), is often insufficient to reliably locate nostr entities, as it is missing relay information.

Recently, there has been a trend in the nostr community to move to bech32 entities containing relay hints (e.g. `nevent`).

I believe there is a better approach which is more aligned with the ubiquitous [RFC-3986](https://www.rfc-editor.org/rfc/rfc3986), which will bring many benefits to this matter.

## Understanding RFC-3986 semantics

[RFC-3986](https://www.rfc-editor.org/rfc/rfc3986) is a ubiquitous standard that defines a generic syntax for computers to find identify and locate things (resources).

The most commonly known and understood part of that standard is the HTTP(S) URL scheme (a.k.a. usual internet URLs such as `https://example.com/some-resource`).

However, [RFC-3986](https://www.rfc-editor.org/rfc/rfc3986) is actually much broader than that, and the characteristics of the Nostr network still fit into the constraints of that specification (More on that further below).

### URI vs. URL

A key piece to understand is the difference between a URI and a URL.

A **URI** specifies a _resource_. Examples from [1.1.2](https://www.rfc-editor.org/rfc/rfc3986#section-1.1.2):
```
1.1.2.  Examples

   The following example URIs illustrate several URI schemes and
   variations in their common syntax components:

      ftp://ftp.is.co.za/rfc/rfc1808.txt

      http://www.ietf.org/rfc/rfc2396.txt

      ldap://[2001:db8::7]/c=GB?objectClass?one

      mailto:John.Doe@example.com

      news:comp.infosystems.www.servers.unix

      tel:+1-816-555-1212

      telnet://192.0.2.16:80/

      urn:oasis:names:specification:docbook:dtd:xml:4.1.2
```

An example in Nostr:
```
nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9
```

A **URL** is a subset of URIs that not only identify the resource (or thing) we are talking about, but also where it is located. (As per [section 1.1.3](https://www.rfc-editor.org/rfc/rfc3986#section-1.1.3))

So, these examples are _not_ URLs:

```
nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9     <--- This refers to some user
urn:isan:0000-0004-87D7-0000-Q-0000-0000-6 <--- This is an ISAN code used to identify the "Avengers: Endgame" movie
```

As seen in the example above, both of them tell you what the "thing" _is_, but not _where_ to find it.

### Understanding "normal web" URLs

[RFC-3986 Section 3](https://www.rfc-editor.org/rfc/rfc3986#section-3) offers a breakdown of URL/URI syntax components.


Here is a breakdown of a URL for a "traditional webpage":

```
      https://example.com:8042/over/there?name=ferret#nose
      \___/   \______________/\_________/ \_________/ \__/
        |           |            |            |        |
     scheme     authority       path        query   fragment
```

- **Scheme:** Defines the protocol with which to _interpret_ the remainder of the URL. [Spec](https://www.rfc-editor.org/rfc/rfc3986#section-3.1)
- **Authority:** The `//` defines that what follows is the "authority" of the URL. The _authority_ has control over the remainder namespace (i.e. it has control over the "path" and other components). [Spec](https://www.rfc-editor.org/rfc/rfc3986#section-3.2)
  - This is an important detail, as we will see soon.
- **Path, query, fragment:** These represent the specific _resource_ being located. In this case, the authority has full control over where each resource is located.

Let's compare this with a more broad example:

```
The following are two example URIs and their component parts:

      foo://example.com:8042/over/there?name=ferret#nose
      \_/   \______________/\_________/ \_________/ \__/
       |           |            |            |        |
    scheme     authority       path        query   fragment
       |   _____________________|__
      / \ /                        \
      urn:example:animal:ferret:nose
```

Notice that _both_ URIs have a "path", which is the resource being located.

## Differences between "normal web" and Nostr

Suppose we want to find a user named "Bob":

- In a "normal web" context, one must **first** specify the place/server/authority that holds the desired resource (e.g. `example.com`), and **then** the resource to be found _within_ that server. (e.g. `/user/bob`).

In the case of Nostr, one must **first** specify exactly the resource they want to locate (e.g. User "bob", via `npub`), and **then** specify in which places (_plural_) user "bob" can be found (i.e. relay hints).

## Applying RFC-3986 semantics to design Nostr URLs

- **Scheme:** `nostr:` as per NIP-21.
- **Authority:** By design, **does not exist**. Therefore, it would make no sense to have URLs such as `nostr://...`. The `//` should NOT be used.
  - Another effect of this is that since there are no authorities, no authorities can own/define the remainder of the namespace/URL.
- **Path:** The resource being located. That is, bech32 entities _without relay hints_ (e.g. `note1...`, `npub...`) are _enough_ for the path. Relay hints are _not_ the resource being located. The specific note/npub/entity _is_.

To add relay hints and make nostr _URLs_, we can use query parameters. Query parameters allow for multiple values to be added, so it is ideal for adding multiple relay hints. For compactness, we can reserve the keyword `r` to denote a relay hint. So then:

- **Query:** Defined as the denotation of hints of _where to query_ for a resource. That is, allows the denotation of hints of where the resource can be found.
  - **Note:** The protocol scheme is allowed to control this namespace since there is no authority on the URL to control such namespace.
  
### Examples

If we take our non-URL URI example from earlier:

```
nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9
```

We can cleanly turn it into a URL by simply adding relay hints:

```
nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?r=wss://relay1.com&r=wss://relay2.net
```

We can do this for any bech32 entity, thus establishing a simple yet scalable solution for Nostr URLs without having to define different bech32 entities for the same entity.

This syntax is compliant with RFC-3986, so parsing works out of the box with most URL parsing libraries throughout different platforms.

### Comparison with HTTP URLs

```
      https://example.com:8042/user/bob
      \___/   \______________/\_______/
       |           |               |          
    scheme  "Where to find"    "What to find"        

      nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?r=wss://relay1.com&r=wss://relay2.net
      \___/ \_____________________________________________________________/ \___________________________________/
       |           |                                                                        |          
    scheme     "What to find"                                                        "Where to find"
```

### Advantages over `nevent`

- Fewer bech32 types needed _(Otherwise, for every type of nostr entity, two bech32 types need to be specified — one without relay hints, one with)_
  - With this approach, only one canonical bech32 type needs to exist for each nostr entity type
- More user choice and control (that is, users can see which relays are being listed, and easily edit them as needed)
- Less ambiguity (There is only _one_ possible bech32 entity for a note when using `note1`. With `nevent`, there are infinite possible `nevent`s, which makes it harder to know which note is being talked about, remove duplicates, etc)
- Less staleness (A relay can delete a note, making an `nevent` code stale/obsolete. With the new URL spec, it's easy to edit the relay hints)


I'm in complete agreement with the direction of this thinking. imo nevents and naddr are a mistake and difficult to use from a developer and end user perspective. Worth mentioning but not super important, I've found that the bech32 encoded URLs can also be slightly longer than the format you propose.

Relays and what events live on them come and go over time. Event ids and pubkeys are constant.

--

I noticed that you don't have an example of nevent. I guess it would be something like this?

```
nostr:note12uewpkjw7krk0np3gv7679ck53hrtmqf78cp9gtrqkd0tmfdymwqj3ry77?p=npub1xtscya34g58tk0z605fvr788k263gsu6cy9x0mhnm87echrgufzsevkk5s&r=wss://relay.damus.io,wss://relay.primal.net,wss://nostr.wine,wss://relay.nostr.band
```

--

One nitpick I have is should each relay be a separate query parameter, or should they be comma delimited? e.g.
```
nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?r=wss://relay1.com,wss://relay2.net
```

As an unrelated but adjacent example, I just opened a PR proposal to support multiple names in NIP-05 queries, which I currently have as `?names=name1,name2,...`. I suppose the specs should be consistent.

--

I noticed that naddr wasn't mentioned. I'm not sure how to represent those cleanly, to be honest. I thought about a "RESTful-like" format like:
```
nostr:npub180cvv07tjdrrgpa0j7j7tmnyl2yr6yr7l8j4s3evf6u64th6gkwsyjh6w6/30023/18ff5416&r=wss://fiatjaf.com,wss://relay.damus.io

<npub>/<kind>/<d-tag>?r=<relay1>,<relay2>,...
```

I'm curious about what others think for addressable / replaceable events.

> The issue is that if you percent encode the param, as required by RFC-3986, you get this:
> 
> ```
> nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?r=wss%3A%2F%2Frelay1.com&r=wss%3A%2F%2Frelay2.net
> ```
> 
> Which is way less interesting than the readable example.

Good point, thank you for your feedback, @vitorpamplona.

The use of the websockets is implied by NIP-01, so we can make this more format more concise by omitting the specific protocol, and only show the authority + path portions of the relay. Example:


```
nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?r=relay1.com&r=relay2.net
```

_(I updated the ticket description to reflect this)_

> The issue is that if you percent encode the param, as required by RFC-3986, you get this:
> 
> ```
> nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?r=wss%3A%2F%2Frelay1.com&r=wss%3A%2F%2Frelay2.net
> ```
> 
> Which is way less interesting than the readable example.

I wouldn't go that far. I can still read it. It's still way easier to read than an nprofile / nevent / naddr. Those bech32 identifiers are super opaque and require tooling to decode. As a user or even a developer, I find value in knowing the stable identifier of the thing I want to find, and I find value in being able to see where it could be found (or change where to look to find it).

> The use of the websockets is implied by NIP-01, so we can make this more format more concise by omitting the specific protocol, and only show the authority + path portions of the relay. Example:

We still need to know which ones are secured and which ones are not. There is a bunch of local relays and onion relays that don't use SSL. 

At this point it makes no sense to use bech32 then. If we get rid of bech32 that removes one unnecessary indirection layer. We can make things much more clear if we do

```
nostr:p:3d26d998ee10b147897b7d5ee7b342a74198119ec874df95832f63b18b662e23?r=nos.lol&r=relay.damus.io
```

and

```
nostr:e:07242f57b0aa5b4ac6de506fbae290d4b263b5a7f52d0160554acc377164ac1c?r=nos.lol&r=relay.damus.io
```

Instead of doing `r`, we could just use the scheme itself. A more realistic nevent1 then would go:

```    nostr:note1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?wss=relay1.co%2F&ws=relay2.com%2F&kind=1&author=npub142gywvjkq0dv6nupggyn2euhx4nduwc7yz5f24ah9rpmunr2s39se3xrj0
```

Although the new scheme does look better in my dev yes, I don't think it is enough improvement to break the past. 

> no one is going to type these identifiers manually anyway.

I fully agree with this. We don't even show these identifiers anywhere in our apps. They all get converted to a preview of the quote itself or the user's name. 


> I noticed that you don't have an example of nevent. I guess it would be something like this?
> 
> ```
> nostr:note12uewpkjw7krk0np3gv7679ck53hrtmqf78cp9gtrqkd0tmfdymwqj3ry77?r=wss://relay.damus.io,wss://relay.primal.net,wss://nostr.wine,wss://relay.nostr.band
> ```


Something like that, I would do it as:

```
nostr:note12uewpkjw7krk0np3gv7679ck53hrtmqf78cp9gtrqkd0tmfdymwqj3ry77?r=relay.damus.io&r=relay.primal.net&nostr.wine&r=wss://relay.nostr.band
```

> --
> 
> One nitpick I have is should each relay be a separate query parameter, or should they be comma delimited? e.g.
> 
> ```
> nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?r=wss://relay1.com,wss://relay2.net
> ```

I initially thought comma delimited, but I believe doing separate query parameters would be easier to parse in most URL parsing libraries.

> 
> --
> 
> I noticed that naddr wasn't mentioned. I'm not sure how to represent those cleanly, to be honest. I thought about a "RESTful-like" format like:
> 
> ```
> nostr:npub180cvv07tjdrrgpa0j7j7tmnyl2yr6yr7l8j4s3evf6u64th6gkwsyjh6w6/30023/18ff5416&r=wss://fiatjaf.com,wss://relay.damus.io
> 
> <npub>/<kind>/<d-tag>?r=<relay1>,<relay2>,...
> ```
> 
> I'm curious about what others think for addressable / replaceable events.

Interesting. I haven't given much thought to addressable/replaceable events, my only opinion currently is that those should be part of the "path"/resource, as they denote one specific "entity"/resource.



> > The use of the websockets is implied by NIP-01, so we can make this more format more concise by omitting the specific protocol, and only show the authority + path portions of the relay. Example:
> 
> We still need to know which ones are secured and which ones are not. There is a bunch of local relays and onion relays that don't use SSL. 

Defining the scheme could be made optional, and default to wss when omitted, in the same way that "https://example.com:443/" can often be written as "example.com" in most contexts, but it is still possible to serve a webpage on an uncommon port (e.g. http://example.com:8080)

> At this point it makes no sense to use bech32 then. If we get rid of bech32 that removes one unnecessary indirection layer. We can make things much more clear and easier to manage if we do something like
> 
> ```
> nostr:p:3d26d998ee10b147897b7d5ee7b342a74198119ec874df95832f63b18b662e23?r=nos.lol&r=relay.damus.io
> ```
> 
> and
> 
> ```
> nostr:e:07242f57b0aa5b4ac6de506fbae290d4b263b5a7f52d0160554acc377164ac1c?r=nos.lol&r=relay.damus.io
> ```
> 
> Because hex is much more ubiquitous than bech32, and no one is going to type these identifiers manually anyway.

To me it still makes sense to use bech32. Using hex would be a breaking change.

My goal is not to completely change the Nostr URI NIP in breaking ways, but to extend it in a backwards-compatible way (and RFC compliant way) in order to allow widely used "npub" and "note1" entities to be as "findable" as "nevent" or "nprofile" entities.

I don't think it's unreasonable to simply add _optional_ relay hints as query params to the Nostr URI NIP so that we can allow clients/users to provide relay hints without giving up on "npub" or "note" entities which are well known and supported.

It's an optional and backwards compatible addition. It could also be used to prevent npub/nprofile note/nevent fragmentation and confusion.

Relay hints help users locate the item, so it makes sense to include them in the "locator" (URL) rather than the bech32 "entity".

> This is not backwards-compatible, is it? Any parser trying to parse these things will fail because they're not bech32 (i.e. they have the `?r...` at the end).
> 
> But even if you assume all parsers are already ignoring any non-letter characters at the end or something like that, still it is not strictly backwards-compatible because now there will be clients adding relay hints in unexpected places and the old client will miss those hints, which might mean they will not be able to find the events.
> 
> Meanwhile clients that implement this new scheme will miss all the relay hints that exist in the old scheme.
> 
> Unless you're assuming all clients will eventually implement both ways of doing things, in which case what are we really gaining here aside from doubling the work of everybody forever?
> 
> I do think it would have been better to use a more parseable query string method since the beginning (and also not bech32), but at this point I really don't think it's worth changing things.
> 
> (Well, unless there is really a new big idea and a new and more powerful way of expressing event references that is much better than what we have, in this case it would be best to introduce a new format, fully breaking, and go through the pain of getting it adopted.)

That's not an issue if devs use a normal URL parser (RFC 3986 compliant), which they should since Nostr URIs are RFC 3986 URIs since the beginning.

> in order to allow widely used "npub" and "note1" entities to be as "findable" as "nevent" or "nprofile" entities.

I thought everybody had already agreed that `note1` should not be used, https://github.com/nostrability/nostrability/issues/154. My understanding is that it was supposed to be just an experiment local to Damus that got out of control and never a standard.

Now a naked `npub` works fine for 99% of the cases because of indexer relays (like purplepag.es, indexer.coracle.social, relay.nos.social, user.kindpag.es and others) that store relay lists for everybody. Using these you can get the relays for any pubkey and from these their profile metadata and notes etc. For the 1% edge cases an `nprofile` is required, but `npub?r` adds little to that.

(Again, I do think it would be nice to be able to manually glance relays in URIs or tweak them manually, but who does that? Only a handful of people, and these people can probably use bech32 entity decoders already.)

I think the URIs should look like this:

```
nostr://e/d7efc135d6f849ff0ad2e23d677ccb0996b16d35943187ba6baccd307041755a?relay=wss://gleasonator.dev/relay
nostr://p/0461fcbecc4c3374439932d6b8f11269ccdb7cc973ad7a50ae362db135a474dd?relay=wss://gleasonator.dev/relay
nostr://a/30617/a008def15796fba9a0d6fab04e8fd57089285d9fd505da5a83fe8aad57a3564d/ngit?relay=wss://nos.lol
```

> That's not an issue if devs use a normal URL parser (RFC 3986 compliant), which they should since Nostr URIs are RFC 3986 URIs since the beginning.

I think most devs do not use RFC parsers. We parse based on the bech32 spec. If you add ?something to an npub, Amethyst will think the ?something is part of the text not the uri, because npub1, note1 have fixed sizes and a lot of clients don't add the space after the npub, so you have to filter by size if you want to do good with the user. 

This proposal is not backwards compatible.


> > That's not an issue if devs use a normal URL parser (RFC 3986 compliant), which they should since Nostr URIs are RFC 3986 URIs since the beginning.
> 
> I think most devs do not use RFC parsers. We parse based on the bech32 spec. If you add ?something to an npub, Amethyst will think the ?something is part of the text, not the uri, because npub1, note1 have fixed sizes and a lot of clients don't add the space after the npub, so you have to filter by size if you want to do good with the user.
> 
> This proposal is not backwards compatible.

This is factually incorrect. NIP-21 defines a URI scheme for Nostr. A Nostr URI is a specific type of URI and therefore it must follow the RFC-3986 standard for URIs — which is well-established industry standard for decades. In other words, NIP-21 is bound to RFC-3986.

[Section 1.1.1](https://www.rfc-editor.org/rfc/rfc3986#section-1.1.1) stipulates a clear directive about parsing rules for URIs under any URI scheme:

> A parser of the generic URI syntax can parse any URI reference into
   its major components.  Once the scheme is determined, further
   scheme-specific parsing can be performed on the components.  In other
   words, the URI generic syntax is a superset of the syntax of all URI
   schemes.

And it is not without good reason. The reason for this rule is also mentioned in the same section:

> This decouples the evolution of identification schemes from the evolution
   of protocols, data formats, and implementations that make use of
   URIs.

Therefore, Nostr clients _must_ first use a generic URI parser (generally available in standard libraries) to parse the URI into generic syntactic components (scheme, authority, path, query, and fragment), and _then_ proceed with scheme-specific parsing.

The parsing method presented in the previous comment is not standards compliant and so its incompatibility with query parameters is an issue with that implementation, and _not_ a backwards incompatibility issue with the proposal.

**The proposal is objectively backwards compatible.**


> 
> Now a naked `npub` works fine for 99% of the cases because of indexer relays (like purplepag.es, indexer.coracle.social, relay.nos.social, user.kindpag.es and others) that store relay lists for everybody. Using these you can get the relays for any pubkey and from these their profile metadata and notes etc. For the 1% edge cases an `nprofile` is required, but `npub?r` adds little to that.
> 
> (Again, I do think it would be nice to be able to manually glance relays in URIs or tweak them manually, but who does that? Only a handful of people, and these people can probably use bech32 entity decoders already.)

One disadvantage of adding relay hints to bech32 entities is that such entities then can take many forms and addresses, instead of having one canonical form.

This might just be a minor nuisance for `nevent` (as far as I am aware), but it can be particularly troublesome for `nprofile` entities in terms of security. For a given user/pubkey, there can be an arbitrarily large number of possible `nprofile` bech32 entities pointing to it. If `nprofile` is ubiquitous and used over `npub`, that means that when regular users encounter two different nprofiles that have a similar name/picture, they will be unable to determine whether such `nprofile` difference is simply due to a different relay hint set, or if it is due to impersonation. `nprofile` makes impersonation easier by obfuscating the canonical identity of the user it references.

Formatting a profile address as `nostr:npub(...)?r=wss://relay1.com` instead of `nostr:nprofile(...)` gives users an extra safety mechanism to detect impersonation (cross-checking npubs) without resorting to specialized tools.

You may find the `did:nostr:<pubkey>` format helpful—it accepts query parameters and is described in more detail here: https://nostrcg.github.io/did-nostr/.

For now we’re concentrating on the **pubkey** segment, but the design is future-proof: eventually we could have identifiers such as `did:nostr:event:<eventId>`, and so on.

The scheme follows RFC 3986 exactly and aims to scale Nostr identifiers without abandoning bech32. That said, bech32 has two caveats worth keeping in mind:

1. Unlike taproot, it doesn’t include an explicit version field, so it is not future proofed
2. Current encodings (e.g., `npub`) already reuse the Taproot prefix, but segwit checksum, causing a mismatch.

`did:nostr` while a work in progress should be a fully scalable standards-compliant URI scheme.  We are currently developing it at the [W3C Nostr Community Group](https://www.w3.org/community/nostr/) and are happy to discuss further, as required.

On top of this, I have long felt the need to write the user's home relay in the nsec itself so that any new login already knows where to get the user's info. 

How about this?

```
NSec:      nostr:nsec1llj9dkkeusc9xgymwlmq4s6vkl6a8ptxcnx80kx3s88m8etwk4xs6jx2x9?relays=wss://nos.lol,wss://nostr.wine
NProfile:  nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9?relays=wss://gleasonator.dev/relay,wss://nostr.mom
NEvent:    nostr:note1t3c86pjz07h6la7h0h3l6yqfefzgk62n23pwyvfaq0ga80ttkxxqh858nw?author=npub1gcxzte5zlkncx26j68ez60fzkvtkm9e0vrwdcvsjakxf9mu9qewqlfnj5z&kind=1&relays=wss://relay.damus.io,wss://relay.primal.net,wss://nostr.wine,wss://relay.nostr.band
NAddress:  nostr:npub1sn0wdenkukak0d9dfczzeacvhkrgz92ak56egt7vdgzn8pv2wfqqhrjdv9/30617/ngit?relays=wss://nos.lol
```

Even with this, I don't know if it is worth changing things over. 

> On top of this, I have long felt the need to write the user's home relay in the nsec itself so that any new login already knows where to get the user's info.

@vitorpamplona, that's could be a good use-case. It would allow for knowing where to get user info, and this doesn't require establishing a new bech32 entity separate from `nsec`, nor breaking the existing URI scheme. I like this.

I think inlining relay hints in URL query parameters is just such a natural fit with the nostr network topology that when applied to different cases (such as nsec, which I haven't thought of before) it will tend to naturally fall into place.


> NSec:      nostr:nsec1llj9dkkeusc9xgymwlmq4s6vkl6a8ptxcnx80kx3s88m8etwk4xs6jx2x9?relays=wss://nos.lol,wss://nostr.wine

Only nitpick I would say having each relay as a separate query parameter saves us the extra parsing step compared to comma-delimiting them.

If we are doing something for users instead of machines, I think we need to spell out `relays`, instead of `r` and I don't think we should have multiple query params as `r` because it is harder to read lots of `&r=` as a user. 

The model would be: 
`nostr:<nsec|npub[/<kind>/<dtag>]|note1[/<kind>/<author>]>?relays=<relay1,relay2,relay3>`

 